@import url("https://www.w3schools.com/w3css/4/w3.css");
@font-face {
  font-family: "Agustina Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Agustina Regular"),
    url("./assets/fonts/Agustina.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"),
    url("./assets/fonts/Montserrat-Regular.ttf") format("woff");
  font-display: swap;
}
html,
body {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font: 19px / 23px Montserrat, "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #2e2248;
}
.background-circle {
  background: #ea5221;
  border-radius: 50%;
  z-index: -2;
  position: relative;
  float:right;
}

@media screen and (max-width: 1380px) {
  html,
  body {
    font-size: 16px;
    line-height: normal;
  }
  .background-circle {
    width: 600px;
    height: 600px;
    margin-top: -200px;
  }
}

@media screen and (max-width: 600px) {
  html,
  body {
    font-size: 16px;
    line-height: normal;
  }
  .background-circle {
    width: 300px;
    height: 300px;
    margin-top: -70px;
    margin-right: -100px;
  }
}
